@media only screen and (max-width: 479px) {
    .page-blog #hero {
        min-height: 450px !important;
        margin-bottom: 30px;
    }

    .blog-post-featured .content {
        background: rgba(255, 255, 255, .8);
        padding: 30px 40px;
        border-radius: 40px;
        width: 100%;
    }

    .blog-post-featured .title {
        color: #003A70;
    }

    .blog-post-featured p {
        color: #353535;
    }

    .card-horizontal.blog-post-item {
        width: 100%;
    }

    .blog-post-item img {
        width: 100%;
        border-radius: 40px;
    }
}
