@media only screen and (max-width: 479px) {
    .page-blog #hero {
        min-height: 450px !important;
        margin-bottom: 30px;
    }

    .blog-post-featured .content {
        background: rgba(255, 255, 255, .8);
        padding: 10px 20px;
        border-radius: 20px;
        width: 100%;
    }

    .blog-post-featured .title {
        color: #003A70;
    }

    .blog-post-featured p {
        color: #353535;
    }

    .card-horizontal.blog-post-item {
        width: 100%;
        margin-top: 20px;
    }

    .blog-post-item img {
        width: 100%;
        border-radius: 40px;
    }

    section.section.blog-section aside {
        width: 100% !important;
    }

    .card-horizontal.recent-post {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .pagination {
        gap: 15px;
        flex-direction: column;
    }

    .pagination-previous {
        margin-right: 0px;
        margin-bottom: 0;
    }
}
